/* --- Tags --- */


h1 {
    margin: 0;
    font-size: 100px;
}

h2 {
    margin: 0;
    font-size: 30px;
}


/* --- Areas --- */


.container {
    width: 80%;
}


/* --- Unused - Footer --- */

/*
.footer {
    left: 50px;
}

.social-links {
    text-align: center;
}
*/
